.block-properties-month {
    padding: 100px 0px 160px 0px;
    background: transparent url('../img/image_background.jpg') center bottom / cover no-repeat;

    h2 {
        margin-bottom: 60px;
    }
    
    .container-image-description {

        .container-image {

            label {

            }
        }

        .container-description {

            label {

            }
        }
    }

    .container-banner {

        h3 {

        }

        small {

        }

        p {

            span {
    
            }
        }

        ul {

            li {
    
                b {
        
                }
            }
        }
    }
}