.block-last-news {
    padding: 150px 0px;
    background-color: #eaeaea;

    // Breakpoints
    @include respond-to($phone) {
        padding: 60px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 60px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 60px 0px;
    }

    @include respond-to($medium-large) {
        padding: 60px 0px;
    }

    .container-main {
        margin-left: -4rem;
        margin-bottom: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);

        // Breakpoints
        @include respond-to($phone) {
            margin-left: 0px;
            margin-bottom: 60px;
            align-items: center;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        @include respond-to($phone-tablet) {
            margin-left: 0px;
            margin-bottom: 60px;
            align-items: center;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        @include respond-to($tablet-medium) {
            margin-left: 0px;
            margin-bottom: 60px;
            align-items: center;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        @include respond-to($medium-large) {
            margin-left: 0px;
            margin-bottom: 60px;
            align-items: center;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        h2 {
            line-height: 7.5rem;
            font-size: 7.5rem;
            color: #000;

            // Breakpoints
            @include respond-to($phone) {
                line-height: 5rem;
                font-size: 5rem;
            }

            @include respond-to($phone-tablet) {
                line-height: 5rem;
                font-size: 5rem;
            }

            @include respond-to($tablet-medium) {
                line-height: 5rem;
                font-size: 5rem;
            }

            @include respond-to($medium-large) {
                line-height: 5rem;
                font-size: 5rem;
            }

            span {
                margin-top: -4rem;
                float: left;
                position: relative;
                text-transform: initial;
                font-family: 'Caveat', cursive;
                line-height: 6rem;
                font-weight: 500;
                font-size: 6rem;
                color: #99820e;

                // Breakpoints
                @include respond-to($phone) {
                    margin-top: -3rem;
                    font-size: 4rem;
                }

                @include respond-to($phone-tablet) {
                    margin-top: -3rem;
                    font-size: 4rem;
                }

                @include respond-to($tablet-medium) {
                    margin-top: -3rem;
                    font-size: 4rem;
                }

                @include respond-to($medium-large) {
                    margin-top: -3rem;
                    font-size: 4rem;
                }
            }
        }

        .btn-link {
            width: 120px;
            height: 120px;
            margin-top: 30px;
            border: 1px solid #99820e;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Breakpoints
            @include respond-to($phone) {
                width: 60px;
                height: 60px;
                margin-top: 0px;
            }

            @include respond-to($phone-tablet) {
                width: 60px;
                height: 60px;
                margin-top: 0px;
            }

            @include respond-to($tablet-medium) {
                width: 60px;
                height: 60px;
                margin-top: 0px;
            }

            @include respond-to($medium-large) {
                width: 60px;
                height: 60px;
                margin-top: 0px;
            }

            .bi {
                line-height: 25px;
                font-weight: 300;
                font-size: 25px;
                color: #000;
            }

            &:hover {
                background-color: #99820e;
            }
        }
    }

    .container-item {
        width: 100%;
        min-height: 500px;
        padding: 25px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        // Breakpoints
        @include respond-to($phone) {
            min-height: 250px;
            padding: 15px;
        }

        @include respond-to($phone-tablet) {
            min-height: 250px;
            padding: 15px;
        }

        @include respond-to($tablet-medium) {
            min-height: 300px;
            padding: 15px;
        }

        @include respond-to($medium-large) {
            min-height: 300px;
            padding: 15px;
        }

        &::before {
            width: 0px;
            height: 0px;
            top: 0px;
            left: 0px;
            position: absolute;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            background-color: rgba(153, 130, 14, 0.85);
            background-repeat: no-repeat, no-repeat;
            background-position: 15px bottom,  95% 95%;
            background-image: url('../img/bg-item-news.jpg'), url('../img/arrow-right.svg');
            content: '';
            z-index: 0;
            opacity: 0;
        }

        &:hover {

            &::before {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }

        label {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: #FFF;
            z-index: 1;
        }

        p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: #FFF;
            z-index: 1;
        }
    }
}