.block-slider-main {

    .swiper {
        
        .swiper-wrapper {
            
            .swiper-slide {
                min-height: 1000px;

                // Breakpoints
                @include respond-to($phone) {
                    min-height: 380px;
                }

                @include respond-to($phone-tablet) {
                    min-height: 380px;
                }

                @include respond-to($tablet-medium) {
                    min-height: 380px;
                }

                @include respond-to($medium-large) {
                    min-height: 380px;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    position: absolute;
                    object-fit: cover;
                    object-position: center center;
                    filter: brightness(75%);
                    z-index: 0;
                }
            }
        }

        .container-swiper-pagination {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;

            .swiper-pagination {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;

                .swiper-pagination-bullet {
                    width: 30px;
                    height: 2px;
                    margin-bottom: 25px;
                    background-color: #FFF;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;

                    // Breakpoints
                    @include respond-to($phone) {
                        width: 20px;
                    }

                    @include respond-to($phone-tablet) {
                        width: 20px;
                    }

                    @include respond-to($tablet-medium) {
                        width: 20px;
                    }

                    @include respond-to($medium-large) {
                        width: 20px;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    &.swiper-pagination-bullet-active {
                        width: 60px;
                        height: 6px;
                        background-color: #99820e;

                        // Breakpoints
                        @include respond-to($phone) {
                            width: 40px;
                        }

                        @include respond-to($phone-tablet) {
                            width: 40px;
                        }

                        @include respond-to($tablet-medium) {
                            width: 40px;
                        }

                        @include respond-to($medium-large) {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    .container-main {
        width: 100%;
        height: 100%;
        top: 92px;
        left: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 2;

        // Breakpoints
        @include respond-to($phone) {
            padding: 100px 0px 45px 0px;
            top: 0px;
            justify-content: center;
        }

        @include respond-to($phone-tablet) {
            padding: 100px 0px 45px 0px;
            top: 0px;
            justify-content: center;
        }

        @include respond-to($tablet-medium) {
            padding: 100px 0px 45px 0px;
            top: 0px;
            justify-content: center;
        }

        @include respond-to($medium-large) {
            padding: 100px 0px 45px 0px;
            top: 0px;
            justify-content: center;
        }

        h1 {
            text-transform: uppercase;
            line-height: 10rem;
            font-weight: 300;
            font-size: 16rem;
            color: #FFF;

            // Breakpoints
            @include respond-to($phone) {
                line-height: 4rem;
                font-size: 6rem;
            }

            @include respond-to($phone-tablet) {
                line-height: 4rem;
                font-size: 6rem;
            }

            @include respond-to($tablet-medium) {
                line-height: 4rem;
                font-size: 6rem;
            }

            @include respond-to($medium-large) {
                line-height: 4rem;
                font-size: 6rem;
            }

            @include respond-to($large-extra) {
                line-height: 8rem;
                font-size: 12rem;
            }

            @include respond-to($extra-full) {
                line-height: 9rem;
                font-size: 15rem;
            }

            span {
                text-transform: initial;
                font-family: 'Caveat', cursive;
                font-weight: 500;
                font-size: 6rem;
                color: #99820e;

                // Breakpoints
                @include respond-to($phone) {
                    font-size: 4rem;
                }

                @include respond-to($phone-tablet) {
                    font-size: 4rem;
                }

                @include respond-to($tablet-medium) {
                    font-size: 4rem;
                }

                @include respond-to($medium-large) {
                    font-size: 4rem;
                }

                @include respond-to($large-extra) {
                    font-size: 5rem;
                }
    
                @include respond-to($extra-full) {
                    font-size: 5rem;
                }
            }
        }

        a {
            width: 120px;
            height: 120px;
            top: -80px;
            left: 200px;
            margin-bottom: -120px;
            float: left;
            position: relative;
            border: 1px solid #99820e;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Breakpoints
            @include respond-to($phone) {
                width: 60px;
                height: 60px;
                top: 0px;
                left: auto;
                margin-bottom: 0px;
            }

            @include respond-to($phone-tablet) {
                width: 60px;
                height: 60px;
                top: 0px;
                left: auto;
                margin-bottom: 0px;
            }

            @include respond-to($tablet-medium) {
                width: 60px;
                height: 60px;
                top: 0px;
                left: auto;
                margin-bottom: 0px;
            }

            @include respond-to($medium-large) {
                width: 60px;
                height: 60px;
                top: 0px;
                left: auto;
                margin-bottom: 0px;
            }

            .bi {
                line-height: 15px;
                font-size: 15px;
                color: #FFF;
            }

            &:hover {
                background-color: #99820e;
            }
        }
    }
}