.block-search {
    padding: 120px 0px 60px 0px;

    // Breakpoints
    @include respond-to($phone) {
        padding: 60px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 60px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 60px 0px;
    }

    @include respond-to($medium-large) {
        padding: 60px 0px;
    }

    .input-group {

        // Breakpoints
        @include respond-to($phone) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @include respond-to($phone-tablet) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @include respond-to($tablet-medium) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @include respond-to($medium-large) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .form-select {
            margin-bottom: 15px;
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border-radius: 0px !important;

            // Breakpoints
            @include respond-to($phone) {
                width: 100%;
            }

            @include respond-to($phone-tablet) {
                width: 100%;
            }

            @include respond-to($tablet-medium) {
                width: 100%;
            }

            @include respond-to($medium-large) {
                width: 100%;
            }
        }

        .btn-search {
            min-width: 200px;
            margin-bottom: 15px;
            background-color: #feca00;
            color: #FFF;
        }

        .btn-filter {
            margin-bottom: 15px;
            background-color: #333333;
            color: #FFF;
        }

        .btn-advanced {
            margin-bottom: 15px;
            background-color: #98850d;
            color: #FFF;
        }
    }
}