footer {

    .container-main {
        padding: 45px 0px;
    }

    .container-copy {
        padding: 40px 0px;
        background-color: #98850f;

        nav {

            .breadcrumb {
                margin: 0px;

                .breadcrumb-item {
                    color: #FFF;

                    a {
                        color: #FFF;
                    }
                }
            }
        }

        p {
            margin: 0px;
            color: #FFF;

            a {
                text-transform: uppercase;
                font-weight: 800;
                color: #FFF;
            }
        }
    }
}