header {

    .offcanvas {

        // Breakpoints
        @include respond-to($phone) {
            width: 100% !important;
        }
    }

    .navbar {
        padding: 15px 0px 20px 0px;

        // Breakpoints
        @include respond-to($phone) {
            padding: 10px 0px;
        }

        @include respond-to($phone-tablet) {
            padding: 10px 0px;
        }

        @include respond-to($tablet-medium) {
            padding: 10px 0px;
        }

        @include respond-to($medium-large) {
            padding: 10px 0px;
        }

        .navbar-brand {

            img {

                // Breakpoints
                @include respond-to($phone) {
                    height: 45px;
                }

                @include respond-to($phone-tablet) {
                    height: 45px;
                }

                @include respond-to($tablet-medium) {
                    height: 45px;
                }

                @include respond-to($medium-large) {
                    height: 45px;
                }
            }
        }

        .nav {

            .nav-item {
                
                .nav-link {
                    padding: 0px;
                }
            }

            &.nav-type-one {

                .nav-item {
                
                    .nav-link {
                        padding: 5px 15px;
                        font-weight: 600;
                        font-size: 15px;
                        color: #FFF;

                        &:hover {
                            color: #99820e;
                        }

                        &.active {
                            text-transform: uppercase;
                            background-color: #99820e;
                            color: #FFF;
                        }
                    }
                }
            }

            &.nav-type-two {
                margin-bottom: 15px;

                .nav-item {
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0px;
                    }
                
                    .nav-link {
                        font-size: 18px;
                        color: #969ba0;

                        &:hover {
                            color: #99820e;
                        }
                    }

                    .lni {
                        font-size: 20px;
                        color: #FFF;
                    }

                    &.dropdown {

                        .dropdown-toggle {
                            color: #FFF;

                            .dropdown-menu {
                                background: transparent;
                            }
                        }

                        .dropdown-menu {
                            min-width: auto;
                            background: transparent;
                            padding: 0px 19px 0px 0px;
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            border-radius: 0px;

                            li {
                                margin-bottom: 5px;

                                &:last-child {
                                    margin-bottom: 0px;
                                }

                                .dropdown-item {
                                    padding: 0px;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }

            &.nav-type-three {

                .nav-item {
                    margin-left: 20px;
                
                    .nav-link {
                        font-weight: 600;
                        font-size: 15px;
                        color: #FFF;

                        &:hover {
                            color: #99820e;
                        }

                        &.active {
                            text-transform: uppercase;
                            background-color: #99820e;
                            color: #FFF;
                        }
                    }

                    .nav-link-heart {
                        padding: 0px 0px 0px 35px;
                        border: none;
                        background: transparent url('../img/icon_heart_fill.svg') left center / auto 100% no-repeat;
                        line-height: 21px;
                        font-weight: 600;
                        font-size: 15px;
                        color: #FFF;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;

                        &:hover {
                            color: #99820e;
                        }
                    }

                    .navbar-toggler {
                        padding: 0px 0px 0px 60px;
                        background: transparent url('../img/menu.svg') left center no-repeat;
                        line-height: 21px;
                        font-weight: 600;
                        font-size: 15px;
                        color: #FFF;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;

                        &:hover {
                            color: #99820e;
                        }
                    }
                }
            }
        }
    }
}